<div class="row">
  <div class="col-xs-12 col-sm-3">
    <table class="table">
      <tr>
        <td class="text-right"><strong>Name:</strong></td>
        <td>{{user.name}}</td>
      </tr>
      <tr>
        <td class="text-right"><strong>Age: </strong></td>
        <td>{{user.age}}</td>
      </tr>
      <tr *ngIf="user.descr">
        <td class="text-right"><strong>Description: </strong></td>
        <td>{{user.descr}}</td>
      </tr>
      <tr>
        <td class="text-right"><strong>Status: </strong></td>
        <td>{{user.status}}</td>
      </tr>
    </table>
  </div>
</div>